/********* index.html **************/

body {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}

ul {
	margin: 0;
	padding: 0;
}

/*header*/
.top--header {
	margin-top: 10px;
	display: flex;
	height: 70px;
	justify-content: center;
	border-bottom: 1px solid #DEDEDE;
}

.container {
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	width: 1140px;
	margin: 0 auto;
}


.nav--top {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.nav--top--left {
	display: flex;
}

.nav--top--right {
	display: flex;
}

.logo {
	display: flex;
	align-items: center;
}

.logo--text {
	font-size: 20px;
	font-weight: 700;
	color: #3A95FF;
}

.logo--circle {
	margin-right: 5px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #3A95FF;
}

.nav {
	display: flex;
	width: 100%;
	justify-content: space-between;
	font-weight: 100px;
	align-items: center;
}

.nav--list {
	display: flex;
	width: 100%;
	margin-left: 10px;
	padding: 0;
	justify-content: space-between;
}

.list--item {
	display: flex;
	align-items: center;
	margin-right: 10px;
	margin-left: 23px;
}



.list--link {
	color: #424242;
	text-decoration: none;
	text-align: left;
	font-weight: 500;
	font-size: 14px;
	transition: .3s;
}

.oib {
	text-decoration: underline;
}

.rubOnline {
	color: #3A95FF;
	font-weight: 600;
}

/*bottom header*/
.bottom--header {
	border-bottom: 1px solid #DEDEDE;
}

.nav {
	margin: 25px 0;
}

.nav--item {
	font-weight: 500;
	font-size: 16px;
	color: #424242;
	text-decoration: none;
	transition: .3s;
}

.nav--item:hover,
.list--link:hover {
	color: #3A95FF;
	display: inline-block;
	transform: scale(1.1, 1.1);
}


/*Banner*/
.banner {
	border-bottom: 1px solid #DEDEDE;
}

.banner {
	box-shadow: 2px 2px 5px #654543;
}

.credit--any {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	width: 50%;
}

.credit--text {
	font-size: 52px;
	font-weight: 600;
}

.credit--btn {
	display: flex;
	width: 100%;
}

.button {
	color: #3A95FF;
	padding: 20px;
	font-weight: 600;
	font-size: 16px;
	margin-bottom: 100px;
	margin-right: 20px;
	width: 37%;
	border: 1px solid #3A95FF;
	background-color: #FFF;
	transition: .5s;
}

.button:hover {
	color: #FFF;
	background-color: #3A95FF;
}

.button:active {
	border: 0px solid none;
}



/*Offer*/

.container--offer {
	box-sizing: border-box;
	width: 1140px;
	margin: 0 auto;
}

.offer--h1 {
	margin-top: 70px;
	font-weight: 600;
	font-size: 40px;
	line-height: 49px;
}

.offer--h2 {
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
}

.offer {
	display: flex;
	flex-wrap: wrap;
	margin-top: 70px;
	width: 100%;
	justify-content: space-between;

}

.offer--item {
	box-sizing: border-box;
	border-radius: 10px;
	display: flex;
	width: 48%;
	margin-bottom: 60px;
	background-color: #EFF2F5;
	justify-content: space-between;
	/*	box-shadow: 10px 10px 10px #dFF2F5;*/
	box-shadow: 5px 5px 10px grey;
}

.offer--txt {
	font-weight: normal;
	font-size: 20px;
	line-height: 24px;
	margin: 35px 0 0 35px;
}

.offer--img {
	display: flex;
	width: 50%;
}

.offer--txt1 {
	font-style: normal;
	font-weight: 600;
	font-size: 26px;
	line-height: 130%;
	color: #212121;
	text-decoration: none;
	margin-bottom: 25px;
	transition: .3s;
}

.offer--txt1:hover {
	color: #3A95FF;
}

.offer--txt2 {
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 130%;
	color: #424242;
}

.offer--href {
	margin-bottom: 25px;
	transition: .5s;
}

.offer--href:hover {
	transform: scale(1.1, 1.1);
}

/*<!--	Credit card-->*/
.grey {
	background-color: #EFF2F5;
	height: 100px;
	margin-bottom: 100px;
	padding: 140px;
	height: auto;
}

.credit--card {
	display: flex;
	flex-direction: column;
	width: 60%;
	background-color: #E0E5EA;
	border-radius: 10px;
	box-shadow: 5px 5px 10px grey;
	padding-left: 100px;
	margin-right: 30px;
}

.credit--top {
	display: flex;
	justify-content: space-between;
}

.credit--top--left {
	font-weight: 600;
	font-size: 38px;
	line-height: 130%;
	color: #212121;
	margin-top: 35px;


}

.credit--bottom {
	display: flex;
	margin-bottom: 40px;

}

.credit--item {
	border-bottom: 2px solid #3A95FF;
	padding-bottom: 5px;
	margin-bottom: 20px;
	font-weight: 500;
	font-size: 30px;
	line-height: 130%;
	color: #212121;
	width: 159px;
	margin-right: 30px;
	text-align: center;
}

.credit--item--box {
	margin-right: 20px;
}

.credit--item--text {
	text-align: center;
	padding: 0 auto;
	font-weight: 500;
	font-size: 18px;
	line-height: 130%;
	text-align: center;
	color: #424242;
}

.btn--grey {
	background-color: #E0E5EA;
	margin-bottom: 40px;
	width: 200px;
	height: 55px;
}

.cards {
	display: flex;
	width: 40%;
	flex-direction: column;
	justify-content: space-between;
}

.card {
	box-sizing: border-box;
	width: 100%;
	background: #F7F7F7;
	height: 235px;
	padding: 35px;
	border-radius: 10px;
	box-shadow: 5px 5px 10px grey;
}

.top {
	margin-bottom: 30px;
}

.card--text {
	font-style: normal;
	font-weight: 600;
	font-size: 26px;
	line-height: 130%;
	color: #212121;
	margin-bottom: 50px;
}

.card--img {
	display: flex;
	justify-content: flex-end;
	transition: .5s;
}

.card--img:hover {
	transform: scale(1.1, 1.1);
}

/*steps*/

.steps--box {
	display: flex;
	flex-direction: column;
	width: 100%;

}

.steps--text {
	font-style: normal;
	font-weight: 600;
	font-size: 40px;
	line-height: 49px;
	color: #000000;
	margin-bottom: 95px;
}

.steps--item {
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: space-around;
	flex-direction: row;
	margin-bottom: 110px;
}

.steps--item--1 {
	text-align: center;
}

.steps--item--text {
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 140%;
	text-align: center;
	color: #212121;
}


/*footer*/

.section--footer {
	background-color: #EFF2F5;

}

.footer {
	display: flex;
	justify-content: space-between;
	height: auto;
}

.footer--item {
	margin: 35px 0;
	box-sizing: border-box;
	width: 32%;
}

.footer--text {
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 130%;
	color: #424242;
}

.footer--text--bold {
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 130%;
	color: #424242;
	margin-bottom: 20px;
}

.footer--last {
	margin-bottom: 20px;
}

.footer--href {
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 130%;
	color: #424242;
	transition: .5s;
}

.footer--href:hover {
	color: blue;
	transform: scale(1.5, 1.5);
}


/********* Debit Cards **************/

.debitCards--box {
	display: flex;
	width: 100%;
	flex-direction: column;
}

.debitCards--text {
	font-style: normal;
	font-weight: 600;
	font-size: 40px;
	line-height: 49px;
	color: #000000;
	margin: 70px 0;
}

.debitCards--item {
	display: flex;
	justify-content: space-between;
	width: 100%;
	background-color: #EFF2F5;
	margin-bottom: 70px;
}

.debitCards--item--text {
	display: flex;
	flex-direction: column;
	width: 50%;
	margin: 50px 0;
}

.debitCards--text--1 {
	font-style: normal;
	font-weight: 600;
	font-size: 32px;
	line-height: 130%;
	color: #212121;
	margin-bottom: 40px;
}



.debitCards--text--2 {
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 200%;
	color: #424242;
	margin-bottom: 40px;
}

.btn--debit {
	margin-bottom: 0;
}